<div class="wrapper">

  <h1>Food List</h1>
  <% @foods.each do |food| %>
    <%= render partial: 'foods/food_card', locals: { food: food, user_id: food.id } %>
  <% end %>

  <% if @foods.empty? %>
    <h1>There are no foods to show</h1>
  <% end %>
</div>