<div class="wrapper">
  <h1>Food <%= @food.name %></h1>
  <p class="card-text">Measurement Unit: <%= @food.measurement_unit %></p>
  <p class="card-text">Price: $<%= @food.price%></p>
  <p class="card-text">Quantity: <%= @food.quantity%></p>
</div>